<div class="text-center">
<h4>TIY-Reddit Project</h4>
  <br>
  <br>
</div>

<div>
  <%= link_to '<button type="button" class="glyphicon glyphicon-pencil">New Post</button>'.html_safe, new_post_path %>
</div>

<table class="table table-bordered table-striped table-hover text-center">
  <tr class="text-center">
  <th scope="col">Total Votes</th>
  <th scope="col">Vote (up/down)</th>
  <th scope="col">Title</th>
  <th scope="col">Created by:</th>

</tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.vote %></td>
      <td>
        <%= link_to '<button type="button" class="glyphicon glyphicon-chevron-up"></button>'.html_safe, upvote_post_path(post) %><%= link_to '<button type="button" class="glyphicon glyphicon-chevron-down"></button>'.html_safe, downvote_post_path(post) %></td>

      <td>
        <div class="row">

        <%= link_to post.title, title_vote_post_path(post) %>
        <%= post.summary %>
      </div>
      </td>
      <td><%= post.user %></td>
    </tr>
  <%end%>
</table>
