






<%= bootstrap_form_for(@post, layout: :inline) do |f| %>
  <div class="text-center">
    <h1> Submit a link</h1>
    <br>
    <br>
    <br>
  </div>

   <div class="text-center">
    <%= f.label :title %>
    <%= f.text_field :title, hide_label: true, required: true %>
   </div>
   <br>
   <div class="text-center">
     <%= f.label :link %>
     <%= f.text_field :link, hide_label: true,required: true, placeholder: "www.example.com" %>
   </div>
   <br>
   <div class="text-center">
     <%= f.label :User %>
     <%= f.text_field :user, hide_label: true,required: true %>
   </div>
   <br>
   <div class="text-center">
     <!-- <%= f.label :summary %> -->
     <%= f.text_area :summary, hide_label: true, placeholder: "Leave a comment..."  %>
   </div>
<br>
<br>
<br>
   <div class="text-center">
     <%= f.submit 'Submit', :class => 'submit_class_name_here' %>
     <br>
     <br>
     <br>
  </div>
  <br>
  <br>
  <br>
<% end %>
